/* Site Details Page */
#wonder {
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  font-weight: bold;
  color: #69186a;
  text-align: center;
}


div img {
  display: block;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #46230a;
}

p {
  padding: 0 15px;
}

h2, p {
  text-align: center;
}

@media all and (min-width: 601px){
  .card_deck {
    display: flex;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #access, #fonts, #purple, #references, #disclaimer {
    border: 5px solid #46230a;
    max-width: 400px;
    padding: 25px;
    max-height: 550px;
    overflow: auto;
  }
}


@media all and (min-width: 1025px){
#access, #fonts, #purple, #references, #disclaimer  {
    max-height: 700px;
    overflow: visible;
  }

  #fonts img {
      position: relative;
      top: 100px;
      z-index: -1;
    }

    #fonts p {
      position: relative;
      top: -200px;
      }

    #purple p {
      position: relative;
      display: block;
      top: -440px;
    }

    #references p {
      position: relative;
      display: block;
      top: -330px;
    }

    #references img {
      position: relative;
      display: block;
      top: 25px;
    }

    #fonts img, #purple img, #references img {
      max-width: 400px;
    }

    #fonts h2, #fonts p, #purple h2, #purple p, #references h2, #references p {
        display: block;
        opacity: 0;
      }

    #fonts:hover h2, #fonts:hover p, #purple:hover h2, #purple:hover p, #references:hover h2, #references:hover p {
    opacity: 1;
    }

  #fonts:hover img, #purple:hover img, #references:hover img {
    opacity: 0;
  }

}
