/* To do: stretch out footer, flavicon, offset picture and background using grid, content on other parts of site, reduced motion, fill grid column fill with background color,  */

/* .custom {
  cursor: url("imgs/small_purple_torch.png"), auto;
} */

@font-face {
  font-family: Audrey;
  src: url("../audrey-woff/Audrey-Normal.woff")
}

@font-face {
  font-family: Audrey;
  src: url("../audrey-woff/Audrey-Bold.woff")
  font-weight: bold;
}

:focus {
  color: #81007F;
  font-weight: bold;
}

#name {
  font-family: 'Montserrat Alternates';
  color:#69186a;
  font-size: 42px;
  font-style: italic;
  text-align: center;
  letter-spacing: .15em;
}

.skip a{
  background: #FFFFFF;
  left: 0;
  padding: 6px;
  -webkit-transition: left 1s ease-out;
  transition: left 1s ease-out;
  z-index: 3;
  position: absolute;
  left: -205px;
}

.skip a:focus{
  left: 0;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 24px;
  /* align-items: center; */
}

header {
  background-color: rgba(255, 255, 191, 0.5);
  box-shadow: 0 5px 6px -6px #888888;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #f8f8ff;

  /* padding: 30px; */
  top: 0;
  /* margin: -1em; */
  /* add back negative margin value */
  padding: .1em;
  width: 100%;
}

.active_page {
  text-decoration: underline;
  font-weight: bold;
  background-color: #FFFFFF;
  padding: .5em;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  /* color:#4a134a; */
  color: #46230a;
  background-color: rgba(210, 177, 150, 0.2);
  cursor: url("../imgs/small_purple_torch.png"), auto;
  letter-spacing: .1em;
}

h1 {
  font-family: Audrey;
  text-align: center;
}

h2 {
  letter-spacing: 3px;
}

.image_title {
  text-align: center;
}

figure {
  background-color: #C8A2C8;
}

footer {
  background-color: #004040;
  color: #f8f8ff;
  text-align: right;
  /* padding: 30px; */
  min-height: 40px;
  bottom: 0;
  margin: -1.2rem;
  /* add back negative margin value */
  padding: 1.2rem;
  width: 100%;
}

footer img {
  height: 36px;
}

a {
  color:#008080;
  text-decoration: none;
}

.current_link {
  color: #81007F;
  font-weight: bold;
}




/* Contact Form */

form {
  border: none;
}

legend{
  font-family: Audrey;
  font-size: 125%;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

label{
  display: inline-block;
  margin-right: 10px;
  width: 50%;
  font-size: 2em;
}

input[type=checkbox]{
  display:inline;
  width:inherit;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  font-family: Catamaran;
  letter-spacing: inherit;
  font-size: 1.5em;
}

span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Catamaran;
  font-size: 1.5em;
  letter-spacing: inherit;
}


input[type=submit] {
  background-color: #004040;
  color: #FFFFFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: Montserrat Alternates;
  letter-spacing: 3px;
  font-size: 3em;
}

input[type=submit]:hover {
  opacity: 0.8;
}


/* IDs */

#fonts {
  text-align: center;
  /* color: #000000; */
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#Audrey {
  font-family: 'Audrey';
  font-size: 24px;
  font-weight: bold;
  background-color: #C8A2C8;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#Catamaran {
  font-size: 24px;
  background-color: #C8A2C8;
  /* font-weight: bold; */
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#Montserrat {
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  background-color: #C8A2C8;
  /* font-weight: bold; */
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#wonder {
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  font-weight: bold;
  color:#69186a;
  text-align: center;
}

/* Reduced motion */

@media screen and (prefers-reduced-motion: reduce){
  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

}
